@font-face {
    font-family: mass-effect-font;
    src: url('../.fonts/me123.ttf');
  }

body {
    background-color: #222255;
    background-image: url('/assets/images/galaxymap.png');
    color: rgb(169, 169, 169);
    font-family: mass-effect-font;
}

.container {
    background-color: rgb(41, 71, 101, 0.5);
}

.form-control {
    background-color: black; 
    color:  rgb(255, 77, 0);
}

.jumbotron {
    background-color: rgb(41, 71, 101);
    color: lightgray;
}

.links-container {
    background-color: rgba(255, 0, 0, 0);
}

#match-blurb {
    color: lightgray;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal-content {
    border-width: 3px;
    border-color: whitesmoke;
}

.modal-header {
    background-color: #2222AA;
}

.modal-title {
    background-color: #2222AA;
    color:  rgb(255, 77, 0);
}

.modal-body {
    background-color: #202059;
    color: white;
}

.modal-footer {
    background-color: #2222AA;
}

.links {
    color: rgb(255, 77, 0);
}

.question {
    font-family: futura;
    font-size: 16pt;
}

.survey-btn {
    background-color: rgb(255, 77, 0);
    color: lightgray;
}